@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.logoChange {
  width: 75px;
  padding:0;
}

.paraG {
  font-size: 12px;
  font-weight: bold;
  padding:0;
}

.ul{
  list-style:none;
}

/* 1 */
/* the whole thing */
.footerClass {
  background-color: #1b2430;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
/* 2 */
/* the left side one */
.mainDiv1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* 7 */
/* the right side one */
.mainDiv2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* 3 */
/* form+subscribe+button */
.sub1MainDiv1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 165px;
  padding:0;
}

/* 8 */
/* Sailing Pics */
.sub1MainDiv2{
  max-height:165px;
}

.posterChange{
  height:162px;
}

/* 4 */
/* logo+awesomewordsLEFT */
.sub2MainDiv1 {
  display: flex;
  flex-wrap: wrap;
  padding:0;
}

/* 9 */
/*  PRIVACY + LETS CHAT*/
.sub2MainDiv2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding:0;
}


.li, .p{
  padding-top:20px;
  font-size: 12px;

}

/* individual selection for logos */
.logoPF{
  padding-right:25px;
  font-size:50px;
}

