  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.logoChange{
  width:75px;
}
.posterChange{
  width:250px;
}
.paraG{
    font-size: 12px;
  font-weight:bold;

}
ul{
  list-style: none;
}
li,.h6,.p{
  padding:8px;
}
.h6 {
  font-size:13px;
}

.footerClass {
  background-color: #1b2430;
  color: white;
  display: flex;
  gap: 10px 100px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: center;

}

.mainDiv1{
  display:flex;
}

.sub1MainDiv1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.sub2MainDiv1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 12px;
  padding-top:35px;
}

.sub2MainDiv2{
   display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 12px;
  padding-top:35px;
}
.sub2P2s1MainDiv2{
  font-size: 12px;
}

