  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.logoChange{
  width:50px;
}
.posterChange{
  width:250px;
}

.footerClass {
  background-color: #1b2430;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sub2MainDiv1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 12px;
  padding-top:35px;
}
.paraG{
    font-size: 9px;

}
ul{
  list-style: none;
}
li{
  padding:8px;
}